<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>we are here to {{summary}}</p>
    </div>
    {{>footer}}
</body>

</html>